<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d52d3b4fd40cc1c3409013d1e78e102a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d52d3b4fd40cc1c3409013d1e78e102a" ></div>
        
</body>
<script>
    
    
            var map_d52d3b4fd40cc1c3409013d1e78e102a = L.map(
                "map_d52d3b4fd40cc1c3409013d1e78e102a",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9d29c5914eac0e4a1069ed1e3ae14da9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d52d3b4fd40cc1c3409013d1e78e102a);
        
    
            var marker_a6a2bd391b2ea353074c62e9d3087941 = L.marker(
                [50.22323, 20.240299],
                {}
            ).addTo(map_d52d3b4fd40cc1c3409013d1e78e102a);
        
    
        var popup_0c5aab1c384a1bc981dd058710b7d41f = L.popup({"maxWidth": "100%"});

        
            
                var html_fd609b91f760aafbfdab572cc282eba7 = $(`<div id="html_fd609b91f760aafbfdab572cc282eba7" style="width: 100.0%; height: 100.0%;">location_1</div>`)[0];
                popup_0c5aab1c384a1bc981dd058710b7d41f.setContent(html_fd609b91f760aafbfdab572cc282eba7);
            
        

        marker_a6a2bd391b2ea353074c62e9d3087941.bindPopup(popup_0c5aab1c384a1bc981dd058710b7d41f)
        ;

        
    
    
            var marker_4e9b3189c7a937f5ba2e35057875d93a = L.marker(
                [20.111, 11.2423],
                {}
            ).addTo(map_d52d3b4fd40cc1c3409013d1e78e102a);
        
    
        var popup_3c4b62a5f39c98fe06d8b8a05b87e2ad = L.popup({"maxWidth": "100%"});

        
            
                var html_f8a234a4dc90ca8873ee2ea170cf44c9 = $(`<div id="html_f8a234a4dc90ca8873ee2ea170cf44c9" style="width: 100.0%; height: 100.0%;">location_2</div>`)[0];
                popup_3c4b62a5f39c98fe06d8b8a05b87e2ad.setContent(html_f8a234a4dc90ca8873ee2ea170cf44c9);
            
        

        marker_4e9b3189c7a937f5ba2e35057875d93a.bindPopup(popup_3c4b62a5f39c98fe06d8b8a05b87e2ad)
        ;

        
    
    
            var marker_10893d3edaaa33df3f631dd1d9548bf6 = L.marker(
                [-61.59214, -64.84334],
                {}
            ).addTo(map_d52d3b4fd40cc1c3409013d1e78e102a);
        
    
        var popup_4c19fc6005305bd095a2f7a07451b74a = L.popup({"maxWidth": "100%"});

        
            
                var html_a9c1f1dc5545c2ea720f4e3dba1da23b = $(`<div id="html_a9c1f1dc5545c2ea720f4e3dba1da23b" style="width: 100.0%; height: 100.0%;">location_3</div>`)[0];
                popup_4c19fc6005305bd095a2f7a07451b74a.setContent(html_a9c1f1dc5545c2ea720f4e3dba1da23b);
            
        

        marker_10893d3edaaa33df3f631dd1d9548bf6.bindPopup(popup_4c19fc6005305bd095a2f7a07451b74a)
        ;

        
    
</script>
</html>
